<div id = "menuBar">
	<div id = "homeButton" class = "menuButton">Home</div id>
	<div id = "savedArtistsButton" class = "menuButton">Favourite Artists</div id>
	<div id = "upcomingButton" class = "menuButton">Upcoming Shows</div id>
	<div id = "settingsButton" class = "menuButton">Settings</div id>
	{{> user}}
</div>