<div id = "menuBar">
	<a href='/'>
		<div id = "homeButton" class = "menuButton">Home</div id>
	</a>
	<a href='/favourites'>
		<div id = "savedArtistsButton" class = "menuButton">Favourite Artists</div id>
	</a>
	<a href='/upcoming'>
		<div id = "upcomingButton" class = "menuButton">Upcoming Shows</div id>
	</a>
	<a href="/settings">
		<div id = "settingsButton" class = "menuButton">Settings</div id>
	</a>
	{{> user}}
</div>