{{#if login}}
<div id = "logoutButton" class = "menuButton">
	<a href='/logout'>Sign out</a>
</div id>
{{else}}
<div id = "loginButton" class = "menuButton">
	<a href="/login">Log in</a>
</div id>
{{/if}}
