{{#if login}}
<a href='/logout'>
	<div id = "logoutButton" class = "menuButton">Sign out</div id>
</a>
{{else}}
<a href="/login">
	<div id = "loginButton" class = "menuButton">Log in</div id>
</a>
{{/if}}
