<!DOCTYPE html>
<html>

	{{> header}}

<body>
	<div id = "body">
		{{> banner}}
		{{> menu}}
		{{> searchResultsStyle}}
		<div id = "searchResultsBox">
			<div id = "searchResultsFrame">
				{{#each artists}}
					<p>{{this}}</p>
					<hr>
				{{/each}}										
			</div>
			<div id = "searchResultsText">Favourites{{artist}}</div>
		</div>
	</div>
</body>

</html>