<!DOCTYPE html>
<html>

	{{> header}}
<body>
	<div id = "body">
		{{> banner}}
		{{> menu}}
		
		<form method="post" action="/searchResults">
			<input type="text", id = "searchBar", placeholder = "Search For Artists", name="artist" />
			<input type = "submit", id="searchButton" value="Search" />
		</form>
		<div id = "about">FrontRow allows you to save your favourite bands and singers, and will then alert you if there are any upcoming concerts you might be interested in.  Additionally, it will show you their most-played songs so you can be prepared to sing along at the show!</div>
	</div>
</body>


</html>