<!DOCTYPE html>
<html>

	{{> header}}

<body>
	<div id = "body">
		{{> banner}}
		{{> menu}}
		<input type="text", id = "searchBar", value = "Search for your favourite Bands and Singers", onfocus="this.value=''" />
		<div id = "about">FrontRow allows you to save your favourite bands and singers, and will then alert you if there are any upcoming concerts you might be interested in.  Additionally, it will show you their most-played songs so you can be prepared to sing along at the show!</div>
	</div>
</body>


</html>