<!DOCTYPE html>
<html>

	{{> header}}

<body>
	<div id = "body">
		<div id = "loginLogo"></div>
		<div id = "loginBox">

			<form id='loginForm' action="/login" method="POST">
				<input type="text", id = "loginEntry", placeholder="Username", onfocus="this.value='", class="loginField", name="username" />
				<input type="password", id = "passwordEntry", placeholder="Password", onfocus="this.value='", class="loginField", name="password" />
				{{error}}
				<input type="submit", id = "loginButton", class="loginField", value="Log in" />
			</form>

			<form id='loginForm' action="/signup" method="get">
				<input type="submit", id = "signupButton", class="loginField" value="Not a User?  Sign Up!" />
			</form>
		</div>
	</div>
</body>


</html>