<!DOCTYPE html>
<html>

	{{> header}}

<body>
	<div id = "body">
		<div id = "loginLogo"></div>
		<div id = "loginBox">
			<input type="text", id = "loginEntry", value="Username", onfocus="this.value='", class="loginField" />
			<input type="text", id = "passwordEntry", value="Password", onfocus="this.value='", class="loginField" />
			<button type="button", id = "loginButton", class="loginField">Log In</button>
			<button type="submit", id = "signupButton", class="loginField">Not a User?  Sign Up!</button>
		</div>
	</div>
</body>


</html>