<!DOCTYPE html>
<html>

	{{> header}}

<body>
	<div id = "body">
		{{> banner}}
		{{> menu}}
		{{> searchResultsStyle}}
		<div id = "searchResultsBox">
			<div id = "searchResultsFrame">
				{{#each artistResults}}
					<form method="POST" action="/addToFavourites">
						<p>{{this}}</p>
						<input type="submit" name="favourite" value="Add {{this}} to Favourites">
					</form>
					<hr>
				{{/each}}										
			</div>
			<div id = "searchResultsText">Search Results: {{artist}}</div>
		</div>
	</div>
</body>

</html>