<!DOCTYPE html>
<html>

	{{> header}}

<body>
	<div id = "body">
		{{> banner}}
		{{> menu}}
		{{> searchResultsStyle}}
		<div id = "searchResultsBox">
			<div id = "searchResultsFrame">
				{{#each artistResults}}
					
					<form method="post" action="/addToFavourites">
						<p name="nameOfArtist">{{this}}</p>
						<button type="submit">Add to Favourites</button>
					</form>
					<hr>
				{{/each}}										
			</div>
			<div id = "searchResultsText">Search Results: {{artist}}</div>
		</div>
	</div>
</body>

</html>