<!DOCTYPE html>
<html>

	{{> header}}

<body>
	<div id = "body">
		{{> banner}}
		{{> menu}}
		{{> searchResultsStyle}}
		<div id = "searchResultsBox">
			<div id = "searchResultsFrame">
				{{#each concertResults}}
					<p>{{this.displayName}}</p>
					<button type="button">Most Played Songs</button>
					<hr>
				{{/each}}										
			</div>
			<div id = "searchResultsText">Upcoming Shows</div>
		</div>
	</div>
</body>

</html>